:root {
  --bg: #f2f5f8;
  --main: #fff;
  --t: #37475b;
  --t-l: #64778b;
  --logo: #000;
  --link: #1f6dda;
  --title: #475c6e;
  --fab: #fff;
  --scroll-y: .35rem;
  --scroll-x: .28rem;
  --t-s: #2f3d4e;
  --alt: #e6e8ee;
  --link-hover: #363636;
  --hover-bg: #eceef2;
  --tag: #eceef2;
  --border: #e3e6eb;
  --c-bg: #f4f5f7;
  --code: #405363;
  --olay: hsla(0, 0%, 100%, 0.9);
}


$theme: rgb(67, 128, 255);
$hover-bg: #efefef;
$active-bg: rgba(57, 146, 255, .125);
$link: #1f6dda;
$main-bg: #f2f5f8;
$main: #fff;
$text: #363636;
$border: #e8ebee;
$shadow: 0 4px 10px rgba(0, 2, 4, .06), 0 0 1px rgba(0, 2, 4, .11);
$shadow-btn: 0 2px 5px rgba(0, 2, 5, .2), 0 0 1px rgba(0, 2, 4, .4);
$radius: 0.5rem;


*, ::before, ::after {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

*:not(.iconfont,.arco-btn>span,.arco-checkbox-mask-icon,.arco-checkbox-mask-icon>path) {
  color: $text;
}

a {
  text-decoration: none;
  transition: all 0.15s ease;
}

ul li {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-bg;
  height: 100vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}


header {
  background-color: $main;
  box-shadow: $shadow;
  padding: 0 2rem;
  z-index: 5;
  position: fixed;
  width: 100vw;
  min-height: 3.5rem;

  #nav {
    align-items: stretch;
    flex-grow: 1;
  }

  .logo {
    height: 3.5rem;
  }

  .header-title {
    font-size: 1.5rem;
  }
}

.header-left {
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.header-right {
  align-self: center;
}

.main-layout {
  padding-top: 3rem;
}

#menu-wrapper {
  width: 15rem;
  position: relative;
}

#menu {
  background-color: $main;
  position: fixed;
  top: 3rem;
  width: 15rem;
  height: 100vh;
  box-shadow: 0 10px 10px rgba(0, 2, 4, .06), 0 1px 1px rgba(0, 2, 4, .11);
  padding-top: 1.5rem;
  z-index: 3;
  flex-shrink: 0;

  ul {
    li {
      margin: 1rem 1.2rem;

      a {
        padding: 0.5rem 1.2rem;
        display: block;
        font-size: 1.1rem;
        border-radius: $radius;

        &:hover {
          background-color: $hover-bg;
        }
      }

      a.active {
        color: $link;
        background-color: $active-bg;
      }

      #menu-problem:after {
        margin: 0 0.4rem 0 0.4rem;
        content: '0';
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.1rem;
        //background-color: rgb(241, 64, 60);
        background-color: $theme;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: #fff;
        text-align: center;
        display: inline-block;
        border-radius: 2rem;
        border: 1px solid rgba(0, 0, 0, 0);
      }
    }

    .menu-setting:before {
      content: '';
      width: auto;
      display: block;
      margin: 0 0.2rem 1rem 0.2rem;
      border-top: 1px solid $border;
    }
  }
}

.dashboard {
  padding: 1.5rem;
  margin: 0 auto;
}

.node-page {
  padding: 1.5rem;
  width: 100%;
  margin: 0 auto;
  background-color: $main;
}

#realtime-history-canvas {
  width: calc(100vw - 22rem);
  height: 40vh;
}

.card {
  border-radius: $radius;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: $main;
  box-shadow: $shadow;
  padding: 0.6rem;
  margin: 1rem auto;
}

.card-label {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.page-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 3rem 1rem 3rem;
  align-self: flex-start;
}

.datetime-picker .select-picker {
  margin: 1rem 0 1rem 1rem;
}

.history-query-container {
  padding: 1rem 2rem 1.5rem 2rem;
  align-items: center;

  .arco-btn {
    margin: auto 1rem;
  }
}

.picker-label {
  font-size: 1rem;
  margin: 0 0.5rem 0 1rem;
}

.arco-btn-primary .arco-btn-size-default {
  box-shadow: $shadow-btn;
}

.arco-btn-primary:not(.arco-btn-disabled), .arco-checkbox-checked .arco-checkbox-mask {
  background-color: $theme;
}

.arco-tooltip-content-inner {
  color: #fff !important;
}
