@font-face {
  font-family: "iconfont"; /* Project id 3182906 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1644836095291') format('woff2'),
       url('iconfont.woff?t=1644836095291') format('woff'),
       url('iconfont.ttf?t=1644836095291') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-node:before {
  content: "\e603";
}

.icon-dashboard:before {
  content: "\e78b";
}

.icon-alert:before {
  content: "\e600";
}

.icon-user:before {
  content: "\e607";
}

.icon-settings:before {
  content: "\e93d";
}

.icon-color-success:before {
  content: "\e601";
}

.icon-color-error:before {
  content: "\e602";
}

.icon-color-notice:before {
  content: "\e604";
}

.icon-color-warning:before {
  content: "\e605";
}

.icon-color-forbidden:before {
  content: "\e606";
}

.icon-color-question:before {
  content: "\e608";
}

.icon-dark_mode_black_24dp:before {
  content: "\e677";
}

.icon-light_mode_black_24dp:before {
  content: "\e678";
}

